{{#link-to 'article-detail' article.id}}<div class="article-tile">
  <div class="">
    <img src={{article.image}} alt=""/>
  </div>
  <h3>{{article.title}}</h3>
  <div class="article-body">
    {{article.body}}
  </div>
  <h4>By: {{article.author}}</h4>
</div>
{{/link-to}}
