body {
  background-image: url('/assets/geometry.png');
}

.navbar{

}

.article-tile img {
  height:180px;
  float:left;
  padding: 10px;
}

.article-tile {
  height: 200px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.article-body {
  height: 100px;
  overflow: hidden;
}
